.t-viewbox {
    display: flex;

    &-container {
        position: relative;
        display: flex;
        flex-flow: column nowrap;
    }

    &-content {
        position: relative;
        width: 100%;
        height: 100%;
        flex: 1;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        background: $viewbox-content-background;
        box-sizing: border-box;
    }

    &-header,
    &-footer {
        position: relative;
        background: transparent;
    }
}
