.t-ripple {
    &-container {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        overflow: hidden;
    }

    &-mask {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        pointer-events: none;
        user-select: none;
        border-radius: 50%;
        background-color: currentColor;
        background-clip: padding-box;
        opacity: 0.3;
    }
}

.t-ripple-enter-active,
.t-ripple-leave-active {
    transition: opacity 2s $transition-ease-out, transform .45s $transition-ease-out;
}

.t-ripple-enter {
    transform: scale(0);
}

.t-ripple-leave-active {
    opacity: 0 !important;
}
