.t-ripple-position {
    position: relative;
    overflow: hidden;
}

.t-ripple-animation {
    position: absolute;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    opacity: 0;
    transition-property: transform, opacity, -webkit-transform;
    transform: scale(0);
    pointer-events: none
}