.iconfont {
    display: inline-block;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
}

.icon-loading {
    animation: loading 1s linear infinite;
}

@keyframes loading {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn);
    }
}
