.t-message {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 5.4rem;
    color: #000;
    text-align: center;
    letter-spacing: .5px;
    border-radius: 7px;
    background: #fff;
    overflow: hidden;
    z-index: 12;

    &-container {
        padding: .42rem .42rem .3rem;
    }

    &-title {
        font-size: 18px;
        line-height: 1;
        font-weight: 400;
    }

    &-subtitle {
        font-size: 15px;
        line-height: 23px;
        color: #888;
        font-weight: 400;
    }

    &-field {
        text-align: left;

        input {
            width: 100%;
            padding: .22rem .24rem;
            color: #bbb;
            font-size: 14px;
            line-height: 14px;
            background: rgba(255,255,255,1);
            border-radius: 8px;
            border: 1px solid rgba(221,221,221,1);
            outline: none;
            appearance: none;
            -webkit-user-modify: read-write-plaintext-only;
            box-sizing: border-box;

            &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
                font-size: 14px;
                line-height: 1.4;
                color: #bbb;
            }
        }
    }

    &-title + &-subtitle {
        margin-top: .18rem;
    }

    &-title + &-field {
        margin-top: .18rem;
    }

    &-subtitle + &-field {
        margin-top: .18rem;
    }

    &-footer {
        display: flex;
        align-items: center;
        border-top: 1px solid #ddd;

        &-btn {
            flex: 1;
            padding: .32rem 0;
            font-size: 18px;
            line-height: 1;

            &__cancel {
                color: #000;
                border-right: 2px solid #DCDEE3;
            }

            &__confirm {
                color: #108EE9;
            }
        }
    }
}
