.t-loadmore {
    position: relative;
    overflow: hidden;

    &-content {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        font-size: 14px;
        line-height: 26px;
        text-align: center;
    }
}
