.t-cell {
    position: relative;
    display: flex;
    align-items: center;
    padding: vw(20) vw(30);
    letter-spacing: 0.21px;
    background: #fff;
    box-sizing: border-box;

    &-icon {
        margin-right: vw(30);
    }

    &-body {
        flex: 1;
        margin-right: vw(10);

        &__title {
            font-size: 17px;
            line-height: 25px;
            color: #000;
        }

        &__subtitle {
            margin-top: vw(12);
            font-size: 14px;
            line-height: 1;
            color: #8B8B8D;
        }
    }

    &-value {
        font-size: 16px;
        line-height: 1;
        color: #888;
    }

    &-link {
        position: relative;
        margin-left: vw(30);
        padding-right: 15px;
        box-sizing: border-box;

        &:after {
            content: " ";
            display: inline-block;
            height: 8px;
            width: 8px;
            border-width: 2px 2px 0 0;
            border-color: #c7c7c7;
            border-style: solid;
            -webkit-transform: matrix(0.71, 0.71, -.71, 0.71, 0, 0);
            transform: matrix(0.71, 0.71, -.71, 0.71, 0, 0);
            position: absolute;
            top: 50%;
            margin-top: -4px;
        }
    }

    & + &::before {
        content: " ";
        position: absolute;
        top: 0;
        left: vw(30);
        right: 0;
        height: 1px;
        border-top: 1px solid #ddd;
    }
}