.t-dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
    z-index: 12;

    &-content {
        position: relative;
        width: 100%;
        border-radius: 8px;
        overflow: hidden;
    }

    &-footer {
        width: 100%;
        margin-top: 20px;
        text-align: center;
    }

    &-cancel {
        line-height: 1;

        &_out-right {
            position: absolute;
            top: 0;
            right: 0;
            transform: translate(100%, -100%);
        }

        &_out-left {
            position: absolute;
            top: 0;
            left: 0;
            transform: translate(-100%, -100%);
        }

        &_in-right {
            position: absolute;
            top: 0;
            right: 0;
            transform: translate(-50%, 50%);
        }

        &_in-left {
            position: absolute;
            top: 0;
            left: 0;
            transform: translate(50%, 50%);
        }

        &_bottom {
            position: relative;
            margin-top: 20px;
        }
    }
}

.t-dialog-enter-active,
.t-dialog-leave-active {
    transition: .3s;
}

.t-dialog-enter,
.t-dialog-leave-to {
    top: 0;
    transform: translate(-50%, -100%);
    opacity: 0;
}