.t-toast {
    position: fixed;
    max-width: vw(450);
    padding: vw(15) vw(30);
    color: #fff;
    text-align: center;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    box-sizing: border-box;
    z-index: 12;

    &-header {
        padding: vw(15) 0;
        line-height: 1;
    }

    &-content {
        font-size: 14px;
        line-height: 21px;
    }

    // 显示位置
    &-top {
        top: 50px;
        left: 50%;
        transform: translate(-50%, 0);
    }

    &-middle {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    &-bottom {
        bottom: 50px;
        left: 50%;
        transform: translate(-50%, 0);
    }
}