.spread-center-enter-active,
.spread-center-leave-active {
    transition: transform 0.3s $transition-ease-in-out;
    transform-origin: center;
}

.spread-center-enter,
.spread-center-leave-to {
    transform: scale3d(0, 1, 1);
}

.spread-center-enter-to,
.spread-center-leave {
    transform: scale3d(1, 1, 1);
}

.popup-fade-enter,
.popup-fade-leave-active {
    opacity: 0;
}

.popup-slide-top-enter,
.popup-slide-top-leave-active {
    transform: translateY(-100%);
}

.popup-slide-bottom-enter,
.popup-slide-bottom-leave-active {
    transform: translateY(100%);
}

.popup-slide-left-enter,
.popup-slide-left-leave-active {
    transform: translateX(-100%);
}

.popup-slide-right-enter,
.popup-slide-right-leave-active {
    transform: translateX(100%);
}

// 淡入淡出
.fade-enter,
.fade-leave-to {
    opacity: 0;
}
.fade-enter-active,
.fade-leave-active {
    transition: .3s linear;
}

// 滑动，相同方向进出
.slide-top-out-enter,
.slide-top-out-leave-to {
    transform: translateY(-100%);
}

.slide-bottom-out-enter,
.slide-bottom-out-leave-to {
    transform: translateY(100%);
}

.slide-left-out-enter,
.slide-left-out-leave-to {
    transform: translateX(-100%);
}

.slide-right-out-enter,
.slide-right-out-leave-to {
    transform: translateX(100%);
}

.slide-top-out-enter-active,
.slide-top-out-leave-active,
.slide-bottom-out-enter-active,
.slide-bottom-out-leave-active,
.slide-left-out-enter-active,
.slide-left-out-leave-active,
.slide-right-out-enter-active,
.slide-right-out-leave-active {
    transition: .3s cubic-bezier(.55, 0, .1, 1);
}

// 滑动，反方向出去
.slide-top-enter,
.slide-bottom-leave-to {
    transform: translateY(-100%);
}

.slide-top-leave-to,
.slide-bottom-enter {
    transform: translateY(100%);
}

.slide-left-enter,
.slide-right-leave-to {
    transform: translateX(-100%);
}

.slide-right-enter,
.slide-left-leave-to {
    transform: translateX(100%);
}

.slide-top-enter-active,
.slide-top-leave-active,
.slide-bottom-enter-active,
.slide-bottom-leave-active,
.slide-left-enter-active,
.slide-left-leave-active,
.slide-right-enter-active,
.slide-right-leave-active {
    position: absolute;
    transition: .3s;
}

.bounce-enter-active {
    animation: bounce-in .3s $transition-ease;
}

.bounce-leave-active {
    animation: bounce-in .3s $transition-ease reverse;
}

@keyframes bounce-in {
    0% {
        transform: translate(-50%, -50%) scale(0);
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
    }
}
