// viewbox
$viewbox-content-background: #f6f6f6 !default;

// cell
$cell-padding-top: 10px !default;
$cell-padding-bottom: 10px !default;
$cell-padding-left: 15px !default;
$cell-padding-right: 15px !default;
