$color-primary: #409eff;
$color-danger: #f56c6c;
$color-success: #67c23a;
$color-warning: #e6a23c;
$color-info: #909399;

// 水平间距
$h-spacing-sm: vw(10);
$h-spacing-md: vw(16);
$h-spacing-lg: vw(30);

// 垂直间距
$v-spacing-xs: vw(6);
$v-spacing-sm: vw(12);
$v-spacing-md: vw(18);
$v-spacing-lg: vw(30);
$v-spacing-xl: vw(42);

// 动画
$transition-ease: cubic-bezier(0.4, 0.0, 0.2, 1);
$transition-ease-out: cubic-bezier(0.0, 0.0, 0.2, 1);
$transition-ease-in: cubic-bezier(0.4, 0.0, 1, 1);
$transition-ease-in-out: cubic-bezier(0.4, 0.0, 0.6, 1); // 主要用在已有的元素离开屏幕后重新返回时
